Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ThinkManage/DataBase/ThinkManageDB.mdf
ThinkManage/DataBase/ThinkManageDB_log.ldf
ThinkManage/DataBase/ThinkManageDB_log.ldf
ThinkManage/DataBase/ThinkManageDB.mdf