<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThinkManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings><add name="ThinkManageDBConnection" connectionString="data source=(local);initial catalog=ThinkManageDB;integrated security=True" providerName="System.Data.SqlClient" /></connectionStrings>
  <userSettings>
    <ThinkManage.Properties.Settings>
      <setting name="New" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Edit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Delete" serializeAs="String">
        <value>True</value>
      </setting>
    </ThinkManage.Properties.Settings>
  </userSettings>
</configuration>